---
layout: base
permalink: /
---

<main>
    <section id="our-society">{% include about-gudev.html %}</section>

    <section id="gamejam">{% include gamejam.html %}</section>

    <section id="join">{% include join.html %}</section>

    <section id="resources">{% include resources.html %}</section>

    <section id="comittee">{% include comittee.html %}</section>

    <section id="discord">{% include discord.html %}</section>

    <section id="itch">{% include itch.html %}</section>

    <section id="instagram">{% include instagram.html %}</section>

    <section id="src">{% include src.html %}</section>
</main>

<style>
    section {
        min-height: 90vh;
        padding-bottom: 10vh;
    }
</style>
